{
    "mailer": {
        "host": "",
        "port": 25,
        "service": "Gmail",
        "secure": true,
        "auth": {
          "user": "",
          "pass": ""
        }
    },
    "templates_directory": ""
}
